In [2]:
import pandas as pd
import numpy as np
oj = pd.read_csv("oj.csv",sep = ',',header = 0)

In [3]:
data = pd.DataFrame(oj)

In [ ]:
#1.	Find the dimensions of the oj data set

data.dtypes

In [ ]:
#2.	Find the structure of the data set
data.info

In [ ]:
#3.	Find out the column names in the data set
data.columns.values

In [ ]:

#4.	Describe the data set
print(data.describe())

In [ ]:

#1.	Fetch the first row 3rd column from the data set
data.iloc[2,0]

In [ ]:

#2.	Fetch the first, second and Third columns of the oj data frame

data.iloc[:,[0,1,2]]

In [ ]:
#3.	Fetch the first, second, eighth and the 456th rows of the 1st, third and the sixth columns of the data frame
data.iloc[[0,1,7,455],[0,2,5]]

In [ ]:
#4.	Fetch the top 5 rows of the brand column
data.brand.head()

In [ ]:
#5.	Fetch top 5 rows of the brand, week and feat details
data.loc[:4,['brand','week','feat']]

In [ ]:
#6.	Fetch the details of all distinct stores
data.store.unique

In [ ]:
#7.	Fetch all the observations for Tropicana brand
data[data.brand=="tropicana"]

In [ ]:
#8.	Fetch all the observations for Tropicana brand using query function
data.query("(brand=='tropicana')")

In [ ]:
#9.	Fetch bottom 5 observations for those who have bought Tropicana or dominics

data.query("(brand=='tropicana' or brand=='dominicks')").tail(5)

In [ ]:
#10.Fetch the income, brand, price observations with Tropicana brand without feature advertisement

data.query("(brand=='tropicana' and feat==0)")[["INCOME","brand","price"]]

In [ ]:
#11.Add a new column in the dataset: logInc which is the logarithm of the income

data['logINC']=np.log(data.INCOME)

In [8]:
#12.Sort the Data in the increasing order of the week

data=data.sort_values(by="week",ascending=True)

In [ ]:
#13.Sort the data in the decreasing order of Income

data=data.sort_values(by="INCOME",ascending=False)

In [ ]:
#14.Find the mean of the juice price for each brand

data.groupby(["brand"]).mean().price

In [ ]:
#15.Find the average income for each brand and at each store
data.groupby(["brand","store"]).mean().INCOME

In [ ]:
#16.	Find:
#a.	Mean and std deviation of the income
data.INCOME.mean()
data.INCOME.std()
#b.	For income greater than or equal to 10.5, find the mean income
data[data.INCOME>=10.5].mean().INCOME
#c.	For each brand having price >=2.5 find the mean, median, sd of the log of income

data[data.price>=2.5].mean().logINC
data[data.price>=2.5].median().logINC
data[data.price>=2.5].std().logINC

In [ ]:
#17.	Find the Cross tabulation of brands and feature advertisement

pd.crosstab(data.brand,data.feat)